div {
    font-size: 150%;
    margin: 6%;
}

#asd {
    color: red;
}

#qwe {
    color: blue;
}

a {
    color: green;
}

#wer {
    margin-left: 20%;
    margin-right: 20%;
}

#sdf {
    color: black;
}