body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-image: url('images/wallpaper.jpg');
    background-size: 100%;
}

div {
    font-size: 200%;
    margin: 2%;
    color: white;
    text-align: center;
}

#zxc {
    color: white;
    text-align: center;
}

#qwe {
    text-align: center;
}

#ob1 {
    background-color: #009dff;
    color: white;
    padding-left: 28%;
    padding-right: 28%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#ob2 {
    background-color: #a10625;
    color: white;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#ob3 {
    background-color: black;
    color: white;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#wer {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

#zxc {
    text-align: center;
    font-size: 300%;
}

a {
    text-decoration: none;
}

#ob4 {
    background-color: #009dff;
    color: white;
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#ob5 {
    background-color: #009dff;
    color: white;
    padding-left: 28%;
    padding-right: 28%;
    padding-top: 5%;
    padding-bottom: 5%;
}
